In [2]:
import pandas as pd
import csv
import random

In [3]:
# Fonction permettant de supprimer les colonnes Pointage et Dépointage
def delColumns(data):
    data.drop(["Pointage", "Dépointage"], 1, inplace=True)

In [4]:
# Fonction permettant de supprimer une ligne ayant une valeur manquante
def delRows(data):
    data.dropna()

In [5]:
# Fonction permettant de lister le nombre de valeurs manquantes pour chaque colonne
def numberNaN(data):
    columns = data.columns
    for i in columns:
        print("{} :{}".format(i, data["{}".format(i)].isnull().values.sum()))

In [6]:
# Chargement des fichiers Octobre et Novembre
octoberFile = pd.read_csv("pointage_octobre.csv", sep=",")
novemberFile = pd.read_csv("pointage_novembre.csv", sep=",")

In [7]:
# Suppression des colonnes
delColumns(octoberFile)
delColumns(novemberFile)

In [8]:
octoberFile

         ID        Date     POINTEUSE
0         1  01/10/2019  REPUBLIQUE-1
1         1  02/10/2019  REPUBLIQUE-1
2         1  03/10/2019  REPUBLIQUE-1
3         1  04/10/2019  REPUBLIQUE-1
4         1  07/10/2019  REPUBLIQUE-1
...     ...         ...           ...
24566  1426  21/10/2019   SIEGE SBS-1
24567  1426  22/10/2019   SIEGE SBS-1
24568  1426  28/10/2019   SIEGE SBS-1
24569  1426  29/10/2019   SIEGE SBS-1
24570  1426  31/10/2019   SIEGE SBS-1

[24571 rows x 3 columns]

In [9]:
novemberFile

         ID        Date     POINTEUSE
0         1  08/11/2019  REPUBLIQUE-1
1         1  28/11/2019  REPUBLIQUE-1
2         1  18/11/2019  REPUBLIQUE-1
3         1  26/11/2019  REPUBLIQUE-1
4         1  22/11/2019  REPUBLIQUE-1
...     ...         ...           ...
22816  1426  13/11/2019   SIEGE SBS-1
22817  1426  07/11/2019   SIEGE SBS-1
22818  1426  12/11/2019   SIEGE SBS-1
22819  1426  18/11/2019   SIEGE SBS-1
22820  1426  08/11/2019   SIEGE SBS-1

[22821 rows x 3 columns]

In [10]:
# Suppression des lignes manquantes
delRows(octoberFile)
delRows(novemberFile)

In [11]:
numberNaN(octoberFile)

ID :0
Date :0
POINTEUSE :0

In [12]:
numberNaN(novemberFile)

ID :0
Date :0
POINTEUSE :0

In [13]:
# Fusionner les 2 fichiers
fileOctNov = pd.concat([octoberFile, novemberFile])

In [14]:
fileOctNov

         ID        Date     POINTEUSE
0         1  01/10/2019  REPUBLIQUE-1
1         1  02/10/2019  REPUBLIQUE-1
2         1  03/10/2019  REPUBLIQUE-1
3         1  04/10/2019  REPUBLIQUE-1
4         1  07/10/2019  REPUBLIQUE-1
...     ...         ...           ...
22816  1426  13/11/2019   SIEGE SBS-1
22817  1426  07/11/2019   SIEGE SBS-1
22818  1426  12/11/2019   SIEGE SBS-1
22819  1426  18/11/2019   SIEGE SBS-1
22820  1426  08/11/2019   SIEGE SBS-1

[47392 rows x 3 columns]

In [17]:
# Récupération des informations des users
idUsers = list(set(fileOctNov.ID))
listePointeuses = list(set(fileOctNov.POINTEUSE))

In [18]:
# Fonction permettant de faire un random sur les pointeuses
import random
import copy

def RandomPointeuses(data):
    idUsers = list(set(data.ID))
    pointeuses = list(set(data.POINTEUSE))
    
    for i in idUsers:
        newPointeuses = pointeuses.copy()
        dataUser = data[data["ID"] == i]
        pointeusesUser = list(set(dataUser["POINTEUSE"]))
        
        for j in pointeusesUser:
            newPointeuses.remove(j)
        
        #Faire un random sur les autres pointeuses différentes des pointeuses du user
        indexUser = dataUser.index
        nbRandom = int(len(dataUser) / 2)
        
        for m in range(0, nbRandom + 1):
            data["POINTEUSE"][indexUser[random.randrange(0, len(indexUser))]] = newPointeuses[random.randrange(0, len(newPointeuses))]

In [19]:
# Random sur les données des 2 mois
RandomPointeuses(fileOctNov)

/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
fileOctNov

         ID        Date      POINTEUSE
0         1  01/10/2019  SALLE SPORT-1
1         1  02/10/2019   REPUBLIQUE-1
2         1  03/10/2019   SIEGE 7E B-1
3         1  04/10/2019   MEDINA - 1-1
4         1  07/10/2019   REPUBLIQUE-1
...     ...         ...            ...
22816  1426  13/11/2019   MEDINA - 1-1
22817  1426  07/11/2019     ALMADIES-1
22818  1426  12/11/2019    SIEGE SBS-1
22819  1426  18/11/2019   GUEDIAWAYE-1
22820  1426  08/11/2019      ARCADES-1

[47392 rows x 3 columns]

In [26]:
# Changement des indexes de manière croissante
fileOctNov.index = range(0, len(fileOctNov))

#Suppression de certains sites
deletePointeuses = ["KAOLACK AC-1", "MBOUR-1", "SAINT LOUIS AC-1", "THIES AC-1", 
                    "TOUBA MBACKE-1", "ZIGUINCHOR TECH-1", "Ziguinchor Commercial-1"]
indiceLigne = []
for i in range(0, len(fileOctNov)):
    if fileOctNov["POINTEUSE"][i] in deletePointeuses:
        indiceLigne.append(i)
fileOctNov.drop(indiceLigne, inplace=True)
# Liste des pointeuses
list(set(fileOctNov.POINTEUSE))

['SACRE COEUR LIB 5-1',
 'SABLUX RDC-1',
 'RUFISQUE AC-1',
 'PATTE DOIE-1',
 'SIEGE 4E B-1',
 'CHEIKH ANTA DIOP-1',
 'SIEGE RDC INFIRMERIE-1',
 'GUEDIAWAYE-1',
 'SALLE SPORT-1',
 'SIEGE 7E B-1',
 'MEDINA - 1-1',
 'PARCELLES ASSAINIES-1',
 'SIEGE OFMS-1',
 'SIEGE SS1 A-1',
 'ALMADIES-1',
 'SIEGE RDC B-1',
 'SIEGE SBS-1',
 'SIEGE 5E B-1',
 'NSIA 2eme ETAGE-1',
 'JET DEAU-1',
 'THIAROYE-1',
 'REPUBLIQUE-1',
 'POTOU-1',
 'SIEGE SS2 A-1',
 'WEST-TELECOM-1',
 'SIEGE 3E B-1',
 'POTOU-IPM-1',
 'ARCADES-1',
 'Poste de Garde-1',
 'SIEGE RDC A-1',
 'SIEGE SS1 B-1',
 'TECHNOPOLE - RGT-1',
 'SIEGE SS2 B-1',
 'SIEGE 2E B-1']

In [32]:
# Aggrégation des sites
fileOctNov["POINTEUSE"][(fileOctNov["POINTEUSE"] == 'SIEGE OFMS-1') | (fileOctNov["POINTEUSE"] == 'SIEGE RDC A-1') | \
     (fileOctNov["POINTEUSE"] == 'SIEGE RDC INFIRMERIE-1') | (fileOctNov["POINTEUSE"] == 'SIEGE 5E B-1') | \
     (fileOctNov["POINTEUSE"] == 'SIEGE SS1 B-1') | (fileOctNov["POINTEUSE"] == 'SIEGE SS2 A-1') | \
     (fileOctNov["POINTEUSE"] == 'SIEGE SS1 A-1') | (fileOctNov["POINTEUSE"] == 'SIEGE 7E B-1') | \
     (fileOctNov["POINTEUSE"] == 'SIEGE 3E B-1') | (fileOctNov["POINTEUSE"] == 'SIEGE RDC B-1') | \
     (fileOctNov["POINTEUSE"] == 'SIEGE SBS-1') | (fileOctNov["POINTEUSE"] == 'SIEGE SS2 B-1') | \
     (fileOctNov["POINTEUSE"] == 'SIEGE 2E B-1') | (fileOctNov["POINTEUSE"] == 'SIEGE 4E B-1')] = 'SIEGE'

fileOctNov["POINTEUSE"][(fileOctNov["POINTEUSE"] == 'SACRE COEUR LIB 5-1')] = 'SACRE COEUR'
fileOctNov["POINTEUSE"][(fileOctNov["POINTEUSE"] == 'SABLUX RDC-1')] = 'SABLUX RDC'
fileOctNov["POINTEUSE"][(fileOctNov["POINTEUSE"] == 'RUFISQUE AC-1')] = 'RUFISQUE'
fileOctNov["POINTEUSE"][(fileOctNov["POINTEUSE"] == 'PATTE DOIE-1')] = 'PATTE DOIE'
fileOctNov["POINTEUSE"][(fileOctNov["POINTEUSE"] == 'CHEIKH ANTA DIOP-1')] = 'CHEIKH ANTA DIOP'
fileOctNov["POINTEUSE"][(fileOctNov["POINTEUSE"] == 'GUEDIAWAYE-1')] = 'GUEDIAWAYE'
fileOctNov["POINTEUSE"][(fileOctNov["POINTEUSE"] == 'SALLE SPORT-1')] = 'SALLE SPORT'
fileOctNov["POINTEUSE"][(fileOctNov["POINTEUSE"] == 'MEDINA - 1-1')] = 'MEDINA'
fileOctNov["POINTEUSE"][(fileOctNov["POINTEUSE"] == 'PARCELLES ASSAINIES-1')] = 'PARCELLES ASSAINIES'
fileOctNov["POINTEUSE"][(fileOctNov["POINTEUSE"] == 'ALMADIES-1')] = 'ALMADIES'
fileOctNov["POINTEUSE"][(fileOctNov["POINTEUSE"] == 'NSIA 2eme ETAGE-1')] = 'NSIA 2eme ETAGE'
fileOctNov["POINTEUSE"][(fileOctNov["POINTEUSE"] == 'JET DEAU-1')] = 'JET DEAU'
fileOctNov["POINTEUSE"][(fileOctNov["POINTEUSE"] == 'THIAROYE-1')] = 'THIAROYE'
fileOctNov["POINTEUSE"][(fileOctNov["POINTEUSE"] == 'REPUBLIQUE-1')] = 'REPUBLIQUE'
fileOctNov["POINTEUSE"][(fileOctNov["POINTEUSE"] == 'POTOU-1')] = 'POTOU'
fileOctNov["POINTEUSE"][(fileOctNov["POINTEUSE"] == 'WEST-TELECOM-1')] = 'WEST-TELECOM'
fileOctNov["POINTEUSE"][(fileOctNov["POINTEUSE"] == 'POTOU-IPM-1')] = 'POTOU-IPM'
fileOctNov["POINTEUSE"][(fileOctNov["POINTEUSE"] == 'ARCADES-1')] = 'ARCADES'
fileOctNov["POINTEUSE"][(fileOctNov["POINTEUSE"] == 'Poste de Garde-1')] = 'Poste de Garde'
fileOctNov["POINTEUSE"][(fileOctNov["POINTEUSE"] == 'TECHNOPOLE - RGT-1')] = 'TECHNOPOLE - RGT'

/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [33]:
# Liste des pointeuses
list(set(fileOctNov.POINTEUSE))

['SABLUX RDC',
 'POTOU-IPM',
 'NSIA 2eme ETAGE',
 'JET DEAU',
 'RUFISQUE',
 'SALLE SPORT',
 'REPUBLIQUE',
 'Poste de Garde',
 'PATTE DOIE',
 'THIAROYE',
 'ARCADES',
 'PARCELLES ASSAINIES',
 'MEDINA',
 'SACRE COEUR',
 'POTOU',
 'WEST-TELECOM',
 'SIEGE',
 'TECHNOPOLE - RGT',
 'CHEIKH ANTA DIOP',
 'ALMADIES',
 'GUEDIAWAYE']

In [35]:
# Remplacer chaque pointeuse par un index
def replacePointeuseByIndex(data):
    sites = list(set(data["POINTEUSE"]))
    representationSite = []
    for i in range(0, len(sites)):
        representationSite.append({"index" : "{}".format(i), "short" : "{}".format(sites[i]), "desc" : "{}".format(sites[i])})
    representationSite.append({"index" : "{}".format(len(sites)), "short": "Other", "desc": "Other"})
    
    # Ecriture dans un fichier
    with open("sites.txt", "w") as f:
        f.write(str(representationSite))
    #Remplacement au niveau du dataset
    for m in sites:
        for n in representationSite:
            if(m in list(n.values())):
                data["POINTEUSE"][data["POINTEUSE"] == m] = list(n.values())[0]

In [36]:
replacePointeuseByIndex(fileOctNov)

/home/diop/.local/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [37]:
fileOctNov

         ID        Date POINTEUSE
0         1  01/10/2019         5
1         1  02/10/2019         6
2         1  03/10/2019        16
3         1  04/10/2019        12
4         1  07/10/2019         6
...     ...         ...       ...
47387  1426  13/11/2019        12
47388  1426  07/11/2019        19
47389  1426  12/11/2019        16
47390  1426  18/11/2019        20
47391  1426  08/11/2019        10

[41451 rows x 3 columns]

In [38]:
# Enregistrement du fichier
fileOctNov.to_csv("fileOctNov.csv", sep=",")

# Ecrire au niveau du fichier TSV

In [1]:
import pandas as pd
fileOctNov = pd.read_csv("fileOctNov.csv")
dates = list(set(fileOctNov.Date))
# Trier les dates par ordre croissant
from datetime import datetime 
dates = sorted(dates, key=lambda x: datetime.strptime(x, "%d/%m/%Y"))
# dates

In [56]:
# Création du fichier TSV
with open('file.tsv', 'wt') as out_file:
        tsv_writer = csv.writer(out_file, delimiter='\t')
        tsv_writer.writerow(['day'])

In [86]:
# Info du user
for j in list(set(fileOctNov["ID"])):
    user = fileOctNov[fileOctNov["ID"] == j]
    user.index = range(0, len(user))
    datesUser = list(set(user.Date))
    ligne = ""
    positionOther = len(list(set(fileOctNov.POINTEUSE)))
    for i in range(0, len(dates)):
        try:
            if (dates[i] in datesUser):
                ligne = ligne + "{},7,".format(str(user["POINTEUSE"][i])) # 7 secondes
            else:
                ligne = ligne + "{},7,".format(str(positionOther)) # 7 secondes
        except:
            ligne = ligne + "{},7,".format(str(positionOther)) # 7 secondes
    #         continue
    ligne = ligne[0:len(ligne)-1]  # Permet de supprimer la dernière virgule
    # Écrire la ligne au niveau du fichier
    with open('file.tsv', 'a') as out_file:
        tsv_writer = csv.writer(out_file, delimiter='\t')
        tsv_writer.writerow([ligne])

In [2]:
len(list(set(fileOctNov.ID)))

1462

In [90]:
len(dates)

61

In [3]:
str(dates)

"['01/10/2019', '02/10/2019', '03/10/2019', '04/10/2019', '05/10/2019', '06/10/2019', '07/10/2019', '08/10/2019', '09/10/2019', '10/10/2019', '11/10/2019', '12/10/2019', '13/10/2019', '14/10/2019', '15/10/2019', '16/10/2019', '17/10/2019', '18/10/2019', '19/10/2019', '20/10/2019', '21/10/2019', '22/10/2019', '23/10/2019', '24/10/2019', '25/10/2019', '26/10/2019', '27/10/2019', '28/10/2019', '29/10/2019', '30/10/2019', '31/10/2019', '01/11/2019', '02/11/2019', '03/11/2019', '04/11/2019', '05/11/2019', '06/11/2019', '07/11/2019', '08/11/2019', '09/11/2019', '10/11/2019', '11/11/2019', '12/11/2019', '13/11/2019', '14/11/2019', '15/11/2019', '16/11/2019', '17/11/2019', '18/11/2019', '19/11/2019', '20/11/2019', '21/11/2019', '22/11/2019', '23/11/2019', '24/11/2019', '25/11/2019', '26/11/2019', '27/11/2019', '28/11/2019', '29/11/2019', '30/11/2019']"

In [5]:
# Écriture des dates au niveau du fichier
with open("dates.txt", "w") as f:
    f.write(str(dates))